body {
    background: #333333;
    font-family: verdana;
}

.wrapper {
    margin: 40px auto;
    max-width: 1200px;
    width: 100%;
}

h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: normal;
    text-align: center;
}

.panels {
    list-style-type: none;
    padding: 0;
}

.panels li {
    box-sizing: border-box;
    display: block;
    float: left;
    margin: 0;
    position: relative;
    width: 25%;
}

.panels li div {
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 0;
    padding: 50% 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

/*// ANIMATION STYLES //*/

.panels div.back {
    transform: rotateY(90deg);
}

.panels div.front {
    position: absolute;
}

.panels li:hover div.front {
    animation: twirl .2s ease-in forwards;
}

.panels li:hover div.back {
    animation: twirl .2s .2s ease-out forwards reverse;
}

@keyframes twirl {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(90deg);
    }
}
